<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.quadrillenschule.fourage"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="FourageApplication">
        <activity android:name="MainActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:theme="@style/HeyTheme"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PferdeVerwaltenActivity"
                  android:theme="@style/HeyTheme"
                  android:windowSoftInputMode="stateHidden"
                  android:label="@string/pferdeverwalten">
        </activity>
          <activity android:name="FuttermittelVerwaltenActivity"
                  android:theme="@style/HeyTheme"
                  android:windowSoftInputMode="stateHidden"
                  android:label="@string/futtermittelverwalten">
        </activity>
        <activity android:name="RationsplanActivity"
                  android:theme="@style/HeyTheme"
                  android:windowSoftInputMode="stateHidden"
                  android:label="@string/rationsplan">
        </activity>
          <activity android:name="RationsplanViewActivity"
                  android:theme="@style/HeyTheme"
                  android:windowSoftInputMode="stateHidden"
                  android:label="@string/rationsplanview">
        </activity>
    </application>
</manifest>
